.dashboard {
  overflow: auto;
}

.dashboard::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers */
}

/* Optional: Customize scrollbar appearance for Firefox */
.dashboard {
  scrollbar-width: none; /* Hide the scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide the scrollbar in IE and Edge */
}
.input {
  height: 50px;
  border: 1px solid #eeeeee;
  margin-top: 10px;
  padding-left: 20px;
}
